go 1.19

use (
	"./functions in go"
	./arrays
	./buildapi
	./conversion
	./defers
	./filesRead
	./goroutines
	./hello
	./ifelse
	./loops
	./maps
	./methods
	./mongodb
	./mytime
	./pointers
	./requests
	./slices
	./structs
	./switchCase
	./urls
	./userinput
	./variables
	./webservers

)
